// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.


$primary: #006B51;
$secondary: #B8BFE5; 
$dark-blue: #28305C;
$light-green: #ADD9CF ;
$background: #E7D8D7;


//Set the fonts
@font-face {
    font-family: 'Raleway', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
  }
@font-face {
  font-family: 'Fredericka the Great', cursive;
  src: url('/themes/Little-Green-Footprints-Theme/fonts/FrederickatheGreat-Regular.ttf');
}
$font-family-sans-serif: 'Raleway' !default;
$headings-font-family: 'Fredericka the Great' !default;
$headings-font-weight: 100!default;

$navbar-dark-color: $light-green; 
$navbar-dark-hover-color: lighten($light-green, 20%); 
